{% extends 'base.html' %}{% load static %}{% load bootstrap4 %}{% load i18n %} {% block content %}

<br>
<div class="box">
    <h3 class="heading">{% trans 'List of Cities' %}</h3>
    <hr>
    <p>
        <a href="{% url 'city_create' %}">Add City</a>
    </p>

    <div class="table-responsive-md">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-light ">
                <tr>
                    <th>ISO3166-2</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>District</th>
                    <th>City Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Update</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for city in cities %}
                <tr>
                    <td>{{ city.country.iso2 }}</td>
                    <td><a href="{% url 'countrycity_list' country.pk %}">{{ city.country.name }}</a></td>
                    <td>{{ city.district }}</td>
                    <td>{{ city.city_name }}</td>
                    <td>{{ city.latitude }}</td>
                    <td>{{ city.longitude }}</td>
                    <td><a href="{% url 'city_update' %}">Update</a></td>
                    <td><a href="{% url 'city_confirm_delete' city.pk %}">Delete</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No city in the database. <a href="{% url 'city_create' %}">Add the first city</a>.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>
{% endblock %}