{% extends 'base.html' %}{% load static %}{% load i18n %}{% load bootstrap4 %} {% block content %}

<body>
    <br>
    <h2> {{ city }} City Details</h2>
    <hr>
    <div class="container">

        <div class="col-md-6">
            <div class="card text-dark bg-grey mb-3" style="max-width: 36rem;">
                <div class="card-header" style="background-color:rgb(51, 99, 255);">
                    <h5>City: {{ city.city_name }}</h5>
                </div>

                <div class=" card-body " style="background-color:rgb(255, 218, 51);">
                    <h6 class="card-title">
                        Continent = {{ city.country.continent }}
                    </h6>
                    <h6 class="card-title">
                        Sub Continent = {{ city.country.subcontinent }}
                    </h6>
                    <h6 class="card-title">
                        Country = {{ city.country }}
                    </h6>
                    <h6 class="card-title">
                        State = {{ city.state }}
                    </h6>
                    <h6 class="card-title">
                        District = {{ city.district }}
                    </h6>
                </div>
                <div class="card-footer text-light bg-danger ">
                    <a href="{% url 'city_location' city.pk %}" class="btn btn-primary btn-sm float-left mr-2 mt-2">Show Location</a>

                </div>
            </div>

        </div>


    </div>


</body>



{% endblock content %}