{% extends 'base.html' %}{% load static %}{% load i18n %}{% load bootstrap4 %} {% block content %}

<body>
    <br>
    <h2> {{ subcontinent }} Sub Continent Details</h2>
    <hr>
    <div class="container" id="cId" latitude="{{city.latitude}}" longitude="{{city.longitude}}">

        <div class="col-md-6">
            <div class="card text-dark bg-grey mb-3" style="max-width: 36rem;">
                <div class="card-header" style="background-color:rgb(51, 99, 255);">
                    <h5>Sub Continent: {{ subcontinent.name }}</h5>
                </div>

                <div class=" card-body " style="background-color:rgb(255, 218, 51);">
                    <h6 class="card-title">
                        Continent = {{ subcontinent.continent }}
                    </h6>
                    <h6 class="card-title">
                        No. of Countries = {{ countries_count }}
                    </h6>
                    <h6 class="card-title">
                        No. of States = {{ states_count }}
                    </h6>
                    <h6 class="card-title">
                        No. of Cities = {{ cities_count }}
                    </h6>

                </div>
                <div class="card-footer text-light bg-danger ">
                    <a href="#" class="btn btn-primary float-left mr-2 mt-2">Show Location</a>

                </div>
            </div>

        </div>

    </div>



</body>



{% endblock content %}