{% extends 'base.html' %}{% load static %}{% load i18n %}{% load bootstrap4 %} {% block content %}

<h2>Person Form</h2>

<form method="post" id="personForm" data-states-url="{% url 'ajax_load_states' %}" novalidate>
    {% csrf_token %} {% bootstrap_form form %}
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
    <a href="{% url 'state_form' %}">State</a>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function() {
        var url = $("#personForm").attr("data-states-url");
        var countryId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'country': countryId
            },
            success: function(data) {
                $("#id_state").html(data);
            }
        });

    });
</script>

{% endblock %}