{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<!-- Footer  <footer class="bg-dark text-center text-white ">-->
<<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2 text-white fixed-bottom" style="font-family: Georgia">
    <!-- Newsletter -->

    <!-- Newsletter -->

    <!-- Newsletter -->

    <!-- Copyright -->
    {% include "copyright.html" %}
    </nav>